<html>
  <head>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&amp;display=swap" rel="stylesheet" media="all" onload="this.media='all'">
    <link rel='stylesheet' href='/stylesheets/style.css?1' />
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  </head>
  <title>Mirage Collections</title>
  <body class="home">
    <%- include('./component/header'); -%>
    <div class="container">
        <div class="description">
            <div class="descriptionText">
                <p class="title">NFT Rarity</p>
                <p class="title">Analytics</p>
                <p class="subtitle">Now on Oasis Protocol</p>
                <p class="des">Powered by Mirage Market</p>
                <p class="des">(Buy cactus mirage for exclusive perks)</p>
            </div>
            <div class="descriptionImg">
                <div class="item1">
                    <img src="images/Beard desert.png" />
                </div>
                <div class="item2">
                    <img src="images/Garden BG.png" />
                </div>
                <div class="item3">
                    <img src="images/Girl.png" />
                </div>  
                <div class="item4">
                    <img src="images/Beard desert.png" />
                </div>
                <div class="item5">
                    <img src="images/Garden BG.png" />
                </div>
                <div class="item6">
                    <img src="images/Rainbow.png" />
                </div>
                <div class="item7">
                    <img src="images/Beard desert.png" />
                </div>
                <div class="item8">                    
                    <img src="images/Girl.png" />
                </div>  
                <div class="item9">
                    <img src="images/Beard desert.png" />
                </div>
                <div class="item10">
                    <img src="images/Smart Spaceman 2.png" />
                </div>
                <div class="item11">
                    <img src="images/Girl.png" />
                </div>
                <div class="item12">
                    <img src="images/Smart Spaceman 2.png" />
                </div>
                <div class="item13">
                    <img src="images/Smart Spaceman 2.png" />
                </div>
            </div>
        </div>
        <div class="content">
            <div class="sideBar">
                <div class="sideBarTitle">
                    <img src="images/oasis.svg" />
                </div>
                <div class="sideBarTabGroup">
                    <div class="sideBarTab">
                        <img src="images/mail.svg" />
                        <p class="tabName">NFT Collection</p>
                    </div>
                    <div class="sideBarTab">
                        <img src="images/calendar.svg" />
                        <p class="tabName">NFT Calendar</p>
                    </div>
                    <div class="sideBarTab">
                        <img src="images/list.svg" />
                        <p class="tabName">Get Listed</p>
                    </div>
                </div>
            </div>
            <div class="mainContent">
                <div class="contentTitle">
                    Explore oasis nft collections
                </div>
                <div class="contentContainer" id="result">
                    <% collections.forEach((collection)=>{   %>
                        <div class="itemDiv">
                            <a href="<%= collection.link %>">
                                <img src="https://files.realpython.com/media/random_data_watermark.576078a4008d.jpg" />
                                <h2><%= collection.name %></h2>
                                <p><%= collection.content %></p>
                            </a>
                            <div class="itemSocial">
                                <img src="images/discord.svg">
                                <img src="images/twitter.svg">
                            </div>
                        </div>
                    </a>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>  
</body>
</html>
