<header>
  <div class="header">
    <div class="logo">
      <a href="/"><img src="../images/logo2.png" alt="mirage-logo" /></a>
    </div>
    <div class="search">
      <img src="images/search.svg" />
      <input type="text" placeholder="Search Collection" class="searchInput" onkeyup="showHint(this.value)" />
    </div>
    <div class="social">
      <a href="http://t.me/miragemkt" target="_blank" class="socialContainer">
        <img src="../images/telegram2.png" class="socialIcon" />
      </a>
      <a href="https://discord.gg/2V5fsANtfv" target="_blank" class="socialContainer">
        <img src="../images/discord2.png" class="socialIcon" />
      </a>
      <a href="https://twitter.com/MirageMarket" target="_blank" class="socialContainer">
        <img src="../images/twitter2.png" class="socialIcon" />
      </a>
    </div>
  </div>
</header>