<header>
  <div class="header">
    <div class="logo">
      <img src="images/logo.png" alt="mirage-logo" />
    </div>
    <div class="search">
      <img src="images/search.svg" />
      <input type="text" placeholder="Search Collection" class="searchInput" onkeyup="showHint(this.value)" />
    </div>
    <div class="social">
      <a href="#" class="socialContainer">
        <img src="images/telegram.svg" class="socialIcon" />
      </a>
      <a href="#" class="socialContainer">
        <img src="images/discord.svg" class="socialIcon" />
      </a>
      <a href="#" class="socialContainer">
        <img src="images/twitter.svg" class="socialIcon" />
      </a>
    </div>
  </div>
  <script>
        function showHint(str) {
          
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            const res = JSON.parse(this.responseText);
            console.log(res);
            let temp_html = "";
            if(res == "") {
                temp_html = "No Result"
            }
            else {
                res.forEach((element) => {
                temp_html += 
                    `
                      <div class="itemDiv">
                          <a href="${element.link}">
                              <img src="https://files.realpython.com/media/random_data_watermark.576078a4008d.jpg" />
                              <h2>${element.name}</h2>
                              <p>${element.content}</p>
                          </a>
                          <div class="itemSocial">
                              <img src="images/discord.svg">
                              <img src="images/twitter.svg">
                          </div>
                      </div>
                    `
                    }
                )
            }
            document.getElementById("result").innerHTML = temp_html;
        }
      xmlhttp.open("POST", "/search?keyword=" + str);
      xmlhttp.send();
      }
    
    </script>  
</header>