/*
 * Base structure
 */


/*
 * Header
 */

body {
  margin: 0;
  /*max-height: 1335px;*/
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar
{
  width: 8px;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #C7C7C7;
}

p, h4, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

#result1 {
  width: 572px;
  position: absolute;
  top: 58px;
  background-color: white;
  border-radius: 15px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#result1 p {
  font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 105%;
/* or 21px */


color: #3F3F3F;
  padding: 0 30px;
}

.noResult {
  height: 40px;
}

#result1 a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resultItem:nth-child(1) {
  border: none;
}

.resultItem {
  border-top: 1px solid gray;
  height: 40px;
  display: flex;
  align-items: center;
}


.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  width: 90%;
  padding: 0 5%;
  background: #FFFFFF;
  z-index: 1000;
}

.logo {
  width: 25%;
  cursor: pointer;
}

.home .search {
  width: 513px;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 30px;
  background: #F7F7F7;
  position: relative;
}

.index .search, .matrix .search {
  display: none;  
}

.matrix .header {
  background-color: #1A6DE9;
}

.search input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 105%;
  /* or 19px */
  /*color: #9B9B9B;*/
  padding-left: 10px;
  border: none;
  background: #F7F7F7;
  height: 55px;
  width: 523px;
}

.search input:focus-visible {
  outline: none;
}

.search input:before {
  content: ;
}

.social {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.socialContainer {
  cursor: pointer;
}

.container {
  width: 100%;
  /*margin-top: 90px;*/
}

.description {
  display: flex;
  width: 85%;
  padding: 0 7.5%;
  height: 450px;
  background-color: #1A6DE9;
}

.descriptionText {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 45px;
}

.descriptionImg {
  background-color: yellow;
  width: 55%;
  height: 100%;
}

.descriptionText .title {
  margin: 0;
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 85px;
  /* or 104px */
  color: #FFFFFF;
  line-height: 105%;
}

.subtitle {
  margin-top: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 105%;
  /* or 46px */
  color: #FFFFFF;
}

.des {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 105%;
}

.descriptionText .des {
  margin-top: 15px;
}

.descriptionText p:nth-child(4) {
  margin-top: 45px;
}

.descriptionImg {
  margin: auto;
  width: 391px;
  height: 391px;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 17px;
  background-color: #1A6DE9;
  padding: 0 10px;
}

.item6 {
  grid-area: 2 / 2 / 4 / 4;
}

.descriptionImg  img {
  width: 100%;
  object-fit: fill;
}

.content {
  height: 655px;
  display: flex;
  padding: 5px;
}

.sideBar {
  width: 28%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 1.2193px 0px 2.4386px rgba(0, 0, 0, 0.1);

}

.mainContent {
  width: 72%;
  height: 100%;
  max-height: 655px;
}

.sideBarTitle {
  width: 80%;
  height: 38px;
  margin: 30px auto;
}

.sideBarTab {
  display: flex;
  width: calc(100% - 100px); 
  height: 71px;
  align-items: center;
  padding-left: 100px;
  cursor: pointer;
}

.sideBarTab .tabName {
  margin-left: 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */

  color: #3F3F3F;
}

.sideBarTab:nth-child(1) .tabName {
  margin-left: 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */

  color: #1A6DE9;
}

.sideBarTab:nth-child(1) {
  background: #F1F1F1;
}

.contentTitle {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 105%;
  /* or 38px */

  text-transform: uppercase;
  margin: 28px 0 25px 40px;
  color: #3F3F3F;
}

.contentContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
  max-height: 640px;
  overflow-y: auto;
}

.contentContainer::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFFFFF;
}

.contentContainer::-webkit-scrollbar
{
  width: 8px;
  background-color: #FFFFFF;
}

.contentContainer::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #C7C7C7;
}

.itemDiv {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 5%;
  margin-bottom: 20px;
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
  border-radius: 13px;
}

.itemDiv > a {
  padding: 15px;
}

.itemDiv > a > img {
  width: 100%;
  border-radius: 10px;
}

.itemSocial {
  padding: 10px;
}

.itemSocial img {
  margin-right: 20px;
}


////index//////
.matrixDescription {
  height: 490px;
}

.matrixDescriptionColor {
  height: 150px;
  background-color: #1A6DE9;
}

.matrixDescriptionContent {
  display: flex;
  padding-left: 180px;
  position: relative;
}

.matrixDescriptionContent > img {
  width: 278px;
  height: 278px;
  border-radius: 50%;
  margin-top: -72px;
  margin-right: 50px;
}

.matrixDescriptionName {
  margin-top: 38px;
}

.matrixDescriptionName .title {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 65.9408px;
  line-height: 105%;
  /* or 69px */
  text-transform: uppercase;
  color: #3F3F3F;
}

.matrixDescriptionName span {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 34.2416px;
  line-height: 105%;
  /* or 36px */

  text-transform: uppercase;

  color: #3F3F3F;
}

.total {
  margin: 15px 0;
}

.toggle-switch input[type=checkbox] {display:none}
.toggle-switch label {cursor:pointer;}
.toggle-switch label .toggle-track {
  display:block;
  height:20px;
  width:38px;
  background: white;
  border-radius:20px;
  position:relative;
  margin-bottom:15px;
  border:1px solid #ccc;
}

.toggle-switch .toggle-track:before{
  content:'';
  display:inline-block;
  height:20px;width:20px;
  background:#0075F2;
  border-radius:20px;
  position:absolute;
  top:0;
  left:0;
  transition:left .1s ease-in;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-track:before{
  background:white;
  left:20px;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-track {
  background: #0075F2;
}

.matrixDescriptionTriat {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.matrixDescriptionTriat span {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  margin-right: 10px;
  /* or 21px */
  color: #3F3F3F;
}

.matrixContent {
  width: 100%;
  border-top: 1px solid #C5C5C5;
  display: flex;
}

.matrixContent .matrixFilter {
  width: 22%;
  border-right: 1px solid #C5C5C5;
}

.matrixFilter .matrixFilterTitle {
  margin: 17px 0 10px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  padding:0 14%;
  /* or 21px */

  text-transform: uppercase;

  color: #3F3F3F;
}

.matrixMain {
  width: 78%;
  
  padding: 0 0 0 43px;
  padding-right: 4%;
}

.matrixMainItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.punk-component {
  width: 22%;
  height: auto;
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
  border-radius: 13px;
  margin-top: 75px;

}

.punk-component img {
  width: 90%;
  border-radius: 10px;
  margin: 0 5%;
}

.punk-component > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.punk-rank {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */
  margin: 15px 5% 8px 5%;

  color: #3F3F3F;

}

#outer {
  margin: 15px 5%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 105%;
  /* or 17px */


  color: #3F3F3F;

}

.form-select1 {
  position: absolute;
  right: 4%;
  margin-top: 17px;
  width: 256px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 17px;
}

.form-select1:focus-visible {
  outline: none;
}

.btnMenu {
  display: none;
  padding: 20px;
  display: block;
  background: #1abc9c;
  color: #fff;
}
.btnMenu i.fa { float: right; }

.row-pagination {
  margin: 20px auto;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.page-item {
  margin-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */
  cursor: pointer;

  color: #3F3F3F;
}

.active .page-link {
  color: #1A6DE9;
}


.page-link {
  cursor: pointer;
  border: 0;
  color: #3F3F3F;
}

.page-link:hover,
.page-link:focus {
  color: #1A6DE9;
}

.page-item.disabled .page-link {
  border: 0;
  color: #3F3F3F;
}

.mainPunk {
  margin-top: 59px;
}

.leftSide {
  width: 50%;
  height: 575px;
  height: calc(100vh - 240px);
}

.rightSide {
  width: 50%;
  /*height: 575px;*/
  height: calc(100vh - 240px);
  overflow: auto;
}

.rightSide::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFFFFF;
}

.rightSide::-webkit-scrollbar
{
  width: 8px;
  background-color: #FFFFFF;
}

.rightSide::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #C7C7C7;
}

.punk-avatar {
  width: 60%;
  height: 90%;
  border-radius: 12.3378px;
  float: right;
  margin-right: 65px;
}

.matrix-punk-rank {
  display: flex;
  align-items: center;
  border: 0.800147px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 3.43967px;
  width: 120.82px;
  height: 44.01px;
}

.matrix-punk-rank img {
  width: 20px;
  height: 20px;
  padding: 0 7px 0 7px;
}

.matrix-punk-rank p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18.7812px;
  line-height: 100%;
  /* or 20px */


  color: #3F3F3F;

}

.matrix-punk-name {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 30.957px;
  line-height: 105%;
  /* or 33px */

  margin-top: 30px;
  color: #3F3F3F;

}

.rarity-score {
  width: 185px;
  height: 94px;
  border: 1.20921px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 5.19814px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 41px;
}

.rarity-score p {
  padding-left:15px ;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 105%;
  margin-bottom: 5px;
  /* or 21px */
  color: #A0A0A0;
}

.rarity-score span {
  padding-left:15px ;
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 42.1875px;
  line-height: 105%;
  color: #1A6DE9;
}

.row-trait {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-bottom: 5px;
}

.trait-type {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */
  color: #3F3F3F;
}

.trait-type-rarity {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */

  text-align: right;
  margin-right: 16px;
  color: #1A6DE9;
}

.trait-value-block {
  width: 440px;
  height: 47px;

  border: 1.20921px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 5.19814px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  /* or 21px */

  margin-bottom: 31px;
  color: #3F3F3F;
}

.trait-value {
  margin-left: 20px;
}

.trait-value-count {
  margin-right: 16px;
}

.trait-select {
  border: 1.20921px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 5.19814px;
  height: 40px;
  width: 90%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 105%;
  /* or 21px */


  color: #3F3F3F;
}

.filterName {
  margin: 10px 0 5px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18.12px;
  line-height: 105%;
  /* or 33px */


  color: #3F3F3F;
}

.backSide {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
  background: #FDFFFF;
  box-shadow: 4px -4px 9px rgba(0, 0, 0, 0.1);
}

.punk-name-footer {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 28.4826px;
  line-height: 105%;
  /* or 30px */


  color: #3F3F3F;
}

.backSide button {
  width: 123px;
  height: 50px;
  border: none;
  cursor: pointer;
 
  background: #1A6DE9;
  border-radius: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 105%;
  /* or 25px */

  text-align: center;

  color: #FFFFFF;
  margin-left: 63px;
}

.filtercheck {
   position: absolute;
   opacity: 0;
   z-index: -1;
}
 .row {
   display: flex;
}
 .row .col {
   flex: 1;
}
 .row .col:last-child {
   margin-left: 1em;
}
/* Accordion styles */
 .tabs {
   overflow: hidden;
   box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
 .tab {
   width: 100%;
   color: white;
   overflow: hidden;
   border-top: 0.5px solid #C5C5C5;
}
.tab:nth-child(1) {
}
 .tab-label {
   display: flex;
   padding: 25px 14%;
   justify-content: space-between;
   background: #EEEEEE;
   font-weight: bold;
   cursor: pointer;
   font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18.12px;
    line-height: 105%;
    /* or 19px */


    color: #3F3F3F;
  /* Icon */
}
 .tab-label:hover {
   background: #E1E1E1;
}
 .tab-label::after {
   content: "\276F";
   width: 1em;
   height: 1em;
   text-align: center;
   transition: all 0.1s;
}
 .tab-content {
   max-height: 0;
   padding: 0 14%;
   color: #2c3e50;
   background: white;
   transition: all 0.1s;
}
 .tab-close {
   display: flex;
   justify-content: flex-end;
   padding: 1em;
   font-size: 0.75em;
   background: #2c3e50;
   cursor: pointer;
}
 .tab-close:hover {
   background: #E1E1E1;
}
 input:checked + .tab-label {
   background: #E1E1E1;
}
 input:checked + .tab-label::after {
   transform: rotate(90deg);
}
 input:checked ~ .tab-content {
   max-height: 100vh;
   padding: 1em;
   padding: 1em 14%;
}
 
 .check {
  opacity: 1;
  position: relative;
  z-index: 0;
  width: 19px;
  height: 19px;
 }

 .tab-content label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18.12px;
  line-height: 105%;
  /* or 19px */


  color: #3F3F3F;

 }